--pre
torch
torchvision
torchaudio
--extra-index-url https://download.pytorch.org/whl/nightly/cpu
gradio
diffusers
accelerate
transformers
peft
pillow
piexif
compel
# git+https://github.com/sberbank-ai/Real-ESRGAN.git

# pip install diffusers transformers accelerate scipy safetensors

